<!-- build:process -->
<!--
<%= copyright %>
Element: <%= pkg.name %>
Version: <%= pkg.version %>
Description: <%= pkg.description %>
-->
<!-- /build -->

<link rel="import" href="../lib/polymer/polymer.html">

<dom-module id="grapp-app-globals">

  <!-- build:script inline grapp-app-globals -->
  <script src="grapp-app-globals.js"></script>
  <!-- /build -->

</dom-module>

<dom-module id="grapp-app-globals-set">

  <!-- build:script inline grapp-app-globals-set -->
  <script src="grapp-app-globals-set.js"></script>
  <!-- /build -->

</dom-module>

 <dom-module id="grapp-app-globals-get">

   <!-- build:script inline grapp-app-globals-get -->
   <script src="grapp-app-globals-get.js"></script>
   <!-- /build -->

 </dom-module>
